**Syntax of for loop:**

for <variable> in <iterable>:
    print<variable>
    
Here variable can be anything like i,j,k,l etc.
and Iterable can be List,Tuple,Dict.,Str,Set etc.

*Range*

Range is built-in function which takes two arguments.
1]Start point---> By default start point is 0
2]End point-----> WE need to specify end point.

Syntax:
    range(10)
    
    This will create a range from 0 to 10 and stop 10. We will be able to print 0,1,2,3,4,5,6,7,8,9 not 10
    
    range(5)
    0,1,2,3,4

# 1] For loop with range

In [1]:
for i in range(5):       # Here range(5) means by default it starts from 0 and run upto 5
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [2]:
for i in range(1,11):
    print("The numbers from 1 to 11 is:",i)

The numbers from 1 to 11 is: 1
The numbers from 1 to 11 is: 2
The numbers from 1 to 11 is: 3
The numbers from 1 to 11 is: 4
The numbers from 1 to 11 is: 5
The numbers from 1 to 11 is: 6
The numbers from 1 to 11 is: 7
The numbers from 1 to 11 is: 8
The numbers from 1 to 11 is: 9
The numbers from 1 to 11 is: 10

In [3]:
print("The number from 11 to 20 is : ")
for i in range(11,21):
    print(i)

The number from 11 to 20 is :
11
12
13
14
15
16
17
18
19
20

# Print table by using for loop

In [5]:
print("Table of 2 :")
for table in range(2,21,2):  # Here first 2 is starting number,middle 21 is last digit i.e 21-1=20;
    print(table)               #  and last 2 is the difference betwween 2 numbers.

Table of 2 :
2
4
6
8
10
12
14
16
18
20

In [7]:
print("Table of 12:")
for table in range(12,121,12):
    print(table)

table of 12:
12
24
36
48
60
72
84
96
108
120

# 2] For loop with List

In [8]:
list1=[10,20,30,40,50]

In [9]:
for i in list1:
    print(i)

10
20
30
40
50

In [13]:
if 20 in list1:
    print('present')
else:
    print('not present')

present

In [14]:
list2=['Vikas','Python','Django']

In [15]:
list2

['Vikas', 'Python', 'Django']

In [16]:
for i in list2:
    print(i)

Vikas
Python
Django

In [17]:
type(i)

str

In [18]:
list2[0]

'Vikas'

In [19]:
list2[1]

'Python'

# 3] For with str

In [20]:
name='Vikas'

In [21]:
name

'Vikas'

In [22]:
for i in name:
    print(i)

V
i
k
a
s

In [23]:
i[0]

's'

In [25]:
name[1
    ]

'i'

In [26]:
course='python with django'

In [27]:
course

'python with django'

In [28]:
len(course)

18

In [30]:
for i in course:
    print(i,end="\t")

p	y	t	h	o	n	 	w	i	t	h	 	d	j	a	n	g	o

In [31]:
name

'Vikas'

In [35]:
len(name)

5

In [34]:
for i in range(len(name)):
    print(i)

0
1
2
3
4

# 4] For loop with Dict

In [36]:
employee_details = {'name':'Vikas', 'dept': 'IT', 'employee_code': 123456789}

In [37]:
employee_details

{'name': 'Vikas', 'dept': 'IT', 'employee_code': 123456789}

In [38]:
for i in employee_details:
    print(i)       # By default it print Keys;

name
dept
employee_code

In [41]:
employee_details['name']

'Vikas'

In [42]:
employee_details['employee_code']

123456789

In [43]:
employee_details['Address']='Pune'

In [44]:
employee_details

{'name': 'Vikas', 'dept': 'IT', 'employee_code': 123456789, 'Address': 'Pune'}

In [45]:
employee_details.get('dept')

'IT'

In [46]:
employee_details.get('Address')

'Pune'

**If we want to print only values:**

In [54]:
for i in employee_details:
  
    print("", i, end="\t")
    print('--->', employee_details.get(i),end="\t")

 name	---> Vikas	 dept	---> IT	 employee_code	---> 123456789	 Address	---> Pune

In [55]:
for i in employee_details:
    print(employee_details.get(i))

Vikas
IT
123456789
Pune

In [60]:
for i in employee_details:
    print("%s is:- %s"%(i,employee_details.get(i)))

name is:- Vikas
dept is:- IT
employee_code is:- 123456789
Address is:- Pune

In [61]:
car_details={'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [62]:
car_details

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [63]:
car_details['Color']='Orange'

In [64]:
car_details

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Color': 'Orange'}

# Print both Keys and Values by using For loop

In [65]:
car_details

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Color': 'Orange'}

In [66]:
for i in car_details:
    print("%s is:- %s"%(i,car_details.get(i)))

brand is:- Ford
model is:- Mustang
year is:- 1964
Color is:- Orange

**We want to change year is 2021**

In [67]:
car_details

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Color': 'Orange'}

In [68]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [69]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [77]:
car_details.get('year') == '2021'

False

In [76]:
car_details.get('year')

1964

In [78]:
car_details['year']

1964

In [79]:
car_details['year'] = "2021"

In [80]:
car_details

{'brand': 'Ford', 'model': 'Mustang', 'year': '2021', 'Color': 'Orange'}

# WE want to change brand:

In [81]:
car_details

{'brand': 'Ford', 'model': 'Mustang', 'year': '2021', 'Color': 'Orange'}

In [82]:
car_details["brand"]

'Ford'

In [83]:
car_details["brand"]="Rolls Royce"

In [84]:
car_details

{'brand': 'Rolls Royce', 'model': 'Mustang', 'year': '2021', 'Color': 'Orange'}

In [85]:
car_details["model"]="Phantom"

In [86]:
car_details

{'brand': 'Rolls Royce', 'model': 'Phantom', 'year': '2021', 'Color': 'Orange'}

# How to change key

In [87]:
car_details.keys()

dict_keys(['brand', 'model', 'year', 'Color'])

In [90]:
for i in car_details:
    print(i)

brand
model
year
Color

In [102]:
for i in car_details:
    if 'Color' in i:
        Color='look'

In [100]:
car_details

{'brand': 'Rolls Royce', 'model': 'Phantom', 'year': '2021', 'Color': 'Orange'}

In [95]:
for i in car_details:
    if 'brand' in i:
        print("Yes")

Yes

In [106]:
car_details["company"]=car_details['brand']
del car_details['brand']

In [107]:
car_details

{'model': 'Phantom',
 'year': '2021',
 'Color': 'Orange',
 'company': 'Rolls Royce'}

**Change year to Manufacturing year**

In [108]:
car_details["Manufacturing_year"]=car_details.pop("year")

In [109]:
car_details

{'model': 'Phantom',
 'Color': 'Orange',
 'company': 'Rolls Royce',
 'Manufacturing_year': '2021'}

# Write a program to print 10 to 1

In [1]:
print("The values from 10 to 1 is:")
for i in range(10,0,-1):
    print(i)

The values from 10 to 1 is:
10
9
8
7
6
5
4
3
2
1

# Use dict built_in function items and print keys and values

In [2]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [3]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [5]:
car_details={'model': 'Phantom',
 'Color': 'Orange',
 'company': 'Rolls Royce',
 'Manufacturing_year': '2021'}

In [6]:
car_details

{'model': 'Phantom',
 'Color': 'Orange',
 'company': 'Rolls Royce',
 'Manufacturing_year': '2021'}

In [7]:
car_details['model']

'Phantom'

In [8]:
car_details.get("Color")

'Orange'

In [9]:
car_details.items()

dict_items([('model', 'Phantom'), ('Color', 'Orange'), ('company', 'Rolls Royce'), ('Manufacturing_year', '2021')])

In [12]:
for key,values in car_details.items():
    print(key,values)

model Phantom
Color Orange
company Rolls Royce
Manufacturing_year 2021

In [15]:
for i in car_details.items():
    print(i[0],i[1])

model Phantom
Color Orange
company Rolls Royce
Manufacturing_year 2021

In [16]:
for i in range(1,21):
    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

# f-string

In [17]:
num=int(input("Enter a number:"))
for i in range(1,11):
    print(f"{num}x{i}={num*i}")

Enter a number:5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [22]:
print(f"{'num1'}={[1,2,3,4,5]}")

num1=[1, 2, 3, 4, 5]

# Write a program to greet all the person names stored in a list l1 and which starts with s

In [25]:
l1=['Vikas','Sham','Ram','Suraj']

In [26]:
l1

['Vikas', 'Sham', 'Ram', 'Suraj']

In [44]:
for i in l1:
    if i.startswith('S'):
        
        print(" Good Morning, "  +  i)

 Good Morning, Sham
 Good Morning, Suraj

# Startswith

In [38]:
list2=['Name','Nose','Apple','Nail','Number']
for i in list2:
    if i.startswith('N'):
        print(i)

Name
Nose
Nail
Number

# Print table using while loop

In [45]:
num=2
while num<21:
    print(num)
    num=num+2

2
4
6
8
10
12
14
16
18
20

In [46]:
print("Table of 24 :")
num=24
while num<241:
    print(num)
    num=num+24

Table of 24 :
24
48
72
96
120
144
168
192
216
240

# Write a program to check wheather the number is prime or not

In [65]:
num=int(input("Enter number: "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
        break
if prime:
    print(num, "Is prime number")
else:
    print(num,"Is not prime number")

Enter number: 41
41 Is prime number

In [67]:
num=int(input("Enter a number: "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
        break
if prime:
    print(num,"= prime")
else:
    print(num,"= Not prime")

Enter a number: 11
11 = prime

In [68]:
num=int(input("Enter a number: "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
        break
if prime:
    print(num,"= prime")
else:
    print(num,"= Not prime")

Enter a number: 21
21 = Not prime

In [69]:
num=int(input("Enter a number: "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
        break
if prime:
    print(num,"= prime")
else:
    print(num,"= Not prime")

Enter a number: 199
199 = prime

# Write a program to print all prime numbers between 1 to 20:

In [73]:
for num in range(1,21):
    if num >1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19